@model IEnumerable<InsuranceClaimRequest.Models.Insurance>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />  
    <link href="~/Content/Claims.css" rel="stylesheet" />   
</head>
<div class="panel-heading">Insurance Claims Header</div>
<div class="panel-body" style="height: 180px">
    <table class="blueTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsurerId)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.InsurerName)
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.ClaimReceivedDate)
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.ApprovedTotalAmount)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.ApprovedOverrideAmount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(m => item.InsurerId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.InsurerName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ClaimReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ApprovedTotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ApprovedOverrideAmount)
                </td>
                <td>
                    @Html.ActionLink("Details", "ClaimDetails","Claims", new { id = item.InsurerId }, new { @class="claim-details"})
                </td>
            </tr>                
        }
    </table>
</div>
<div class="panel-heading">Insurance Claims Details</div>
<div class="panel-body" style="height: auto">
<div id="divClaimDetails" class="float-bottom"></div>
</div>