
@*@model IEnumerable<InsuranceClaimRequest.Models.InsuranceLineItem>*@

@using GridMvc.Html
@{
    ViewBag.Title = "Details";
}
@{
    Layout = null;
}



<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>



<div class="container">

    <h3> Scheme Details</h3>

    @Html.Grid<InsuranceClaimRequest.Models.InsuranceLineItem>().Columns(columns =>
                    {
                        columns.Add(c=>c.BillDate).Titled("Bill Date").Filterable(true);
                        columns.Add(c=>c.ClaimItemDescription).Titled("Description").Filterable(true);
                        columns.Add(c => c.AmountClaimed).Titled("Claim Amount").Filterable(true);
                        columns.Add(c => c.BenefitAmount).Titled("Description").Filterable(true);
                        columns.Add(c => c.BenefitId).Titled("Description").Filterable(true);
                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.InsurerId }));
                        
                    }).WithPaging(10).Sortable(false)
</div>
