@model List<InsuranceClaimRequest.Models.InsuranceLineItem>
@using (Html.BeginForm("Save","Claims", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }
        
        <div><a href="#" id="addNew">Add New</a></div>
        <table id="dataTable" border="0" cellpadding="0" cellspacing="0" class="blueTable">
            <thead>
            <tr>
                 <th>Bill Date</th>
                <th>Claim Item</th>
                 <th>Claim Amount</th>
                <th>Emergency</th>
                <th>Benefit</th>
                <th>Benefit Percentage</th>
                <th>Approved Amount</th>
                <th></th>
            </tr></thead>
            <tbody>
            @if (Model != null && Model.Count > 0)
	        {
                int j = 0;
                foreach (var i in Model)
                {
                    <tr style="border:1px solid black">
                        <td>@Html.EditorFor(a=>a[j].BillDate, new { htmlAttributes = new { @class = "datepicker", type = "date" } })</td>                        
                        <td>@Html.TextBoxFor(a=>a[j].ClaimItemDescription)</td>
                        <td>@Html.TextBoxFor(a=>a[j].AmountClaimed)</td>
                        <td>@Html.CheckBoxFor(a => a[j].BenefitEmergency)</td>
                        <td>@Html.DropDownListFor(a=>a[j].BenefitId, new SelectList(
                                       new List<Object>{ 
                                       new { value = "HR" , text = "Hospital Room"  },
                                       new { value = "PD", text = "Prescription Drugs" },
                                       new { value = "SR" , text = "Surgery"}
                               },
                              "value",
                              "text",
                               2))</td>
                         <td>@Html.TextBoxFor(a=>a[j].BenefitAmount)</td>
                         <td>@Html.TextBoxFor(a=>a[j].ApprovedAmount)</td>                        
                         <td>  
                              @if (j > 0)
                                {
                                    <a href="#" id="aRmv" class="remove">Remove</a>
                                    // <input type="button" name="btnRemoveRow" id="btnRemoveRow" value="Remove" class="btn btn-info"  />
                                }
                        </td>
                    </tr>
                    j++;
                }
	        }
           </tbody>
        </table>
        <input type="submit" value="Save Bulk Data" />
    }


@* Here I will add Jquery Code for validation / dynamically add new rows / Remove rows etc *@

