@model List<InsuranceClaimRequest.Models.InsuranceLineItem>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href="~/Content/Claims.css" rel="stylesheet" /> 
    <script src="~/Scripts/Claims.js"></script>   
</head>
@section Scripts
       {
    @Scripts.Render("~/bundles/jqueryval")  
}
@using (Html.BeginForm("claimsHome", "Claims", FormMethod.Post))
{ 
    <div style="text-align: right; width:100%">
        <table style="text-align: right; width:98%"><tr>
            <td style="text-align: right;">

            </td>
            <tr>
            <td style="text-align: right;">
            <input type="submit" id="claimsHome" value="Home" class="btn btn-info" />
            </td></tr>
        </table>        
    </div>
    <br/>
}
@using (Html.BeginForm("Save", "Claims", FormMethod.Post))
{ 
    <div class="panel panel-primary">
        <div class="panel-heading">Insurance Claims Header</div>
        <div class="panel-body" style="height: 180px">
            <div class="ins-margin">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            @Html.Label("Insurer Id")
                            @Html.TextBox("InsurerId", null, new { @class = "form-control", maxlength = 10 })
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            @Html.Label("Insurer Name")
                            @Html.TextBox("InsurerName", null, new { @class = "form-control", maxlength = 50 })
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            @Html.Label("Date of Birth")
                            @Html.TextBox("DateOfBirth", "{0:yyyy-MM-dd}", new { @class = "form-control", maxlength = 10, type = "date" })
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            @Html.Label("Claim Received Date")
                            @Html.TextBox("ClaimReceivedDate", "{0:yyyy-MM-dd}", new { @class = "form-control", maxlength = 10, type = "date" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        @Html.Label("Approved Total Amount")
                        @Html.TextBox("ApprovedTotalAmount", null, new { @class = "form-control", maxlength = 10, @readonly = "readonly" })
                    </div>
                    <div class="col-xs-3">
                        @Html.Label("Approved Override Amount")
                        @Html.TextBox("ApprovedOverrideAmount", null, new { @class = "form-control", maxlength = 10 })
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Insurance Claims Details</div>
        <div class="ins-margin">
            <div class="row">
                <div class="col-xs-12">                  
                    <table id="dataTable" border="0" cellpadding="0" cellspacing="0" class="blueTable">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 10%">Bill Date</th>
                                <th style="width: 25%">Claim Item</th>
                                <th style="width: 10%">Claim Amount</th>
                                <th style="width: 10%">Emergency</th>
                                <th style="width: 10%">Benefit</th>
                                <th style="width: 10%">Benefit %</th>
                                <th style="width: 10%">Approved Amount</th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                int j = 0;                                
                                foreach (var i in Model)
                                {
                                <tr style="border: 1px solid black">
                                    <td></td>
                                    <td>@Html.EditorFor(a => a[j].BillDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                        <br />@Html.ValidationMessageFor(a => a[j].BillDate, "", new { @class = "error" })
                                    </td>
                                    <td>@Html.TextBoxFor(a => a[j].ClaimItemDescription)<br />
                                        @Html.ValidationMessageFor(a => a[j].ClaimItemDescription, "", new { @class = "error" })
                                    </td>
                                    <td>@Html.TextBoxFor(a => a[j].AmountClaimed, new { onChange = "return CalculateApprvdAmt(this);" })<br />
                                        @Html.ValidationMessageFor(a => a[j].AmountClaimed, "", new { @class = "error" })
                                    </td>
                                    <td style="text-align: center">@Html.CheckBoxFor(a => a[j].BenefitEmergency, new { @onchange = "FetchBenefitPerct(this)" })</td>
                                    <td>@Html.DropDownListFor(a => a[j].BenefitId, new SelectList(
                                       new List<Object>{ 
                                                       new { BenefitId = "0" , BenefitName = " "  },
                                                       new { BenefitId = "1" , BenefitName = "Hospital Room"  },
                                                       new { BenefitId = "2", BenefitName = "Prescription Drugs" },
                                                       new { BenefitId = "3" , BenefitName= "Surgery"}
                                                       }, "BenefitId", "BenefitName", 0), new { @class = "form-control", @onchange = "FetchBenefitPerct(this)" })
                                        
                                         @Html.ValidationMessageFor(a => a[j].Benefit.BenefitName)</td>
                                    <td>@Html.TextBoxFor(a => a[j].BenefitAmount, new { @readonly = "readonly" })<br />
                                        @Html.ValidationMessageFor(a => a[j].BenefitAmount, "", new { @class = "error" })
                                    </td>
                                    <td>@Html.TextBoxFor(a => a[j].ApprovedAmount, new { onChange = "return calculateTotalApprovedAmt();" })<br />
                                        @Html.ValidationMessageFor(a => a[j].ApprovedAmount, "", new { @class = "error" })
                                    </td>
                                    <td>
                                        @if (j > 0)
                                        {                             
                                            <button type="button" id="btnDelete" name="btnDelete" class="deleteContact btn btn btn-danger btn-xs">Remove</button>
                                        }
                                    </td>
                                </tr>
                                        j++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12" style="text-align: right">                   
                    <input type="button" id="addNew" value="Add Row" class="btn btn-info" />
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
}